# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
target
.idea
*.class
*.iml
classes
lib
.classpath
.settings
.project
logs


aegis-authorize/src/test/
aegis-browser/src/test/
aegis-core/src/test/
